<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 현재 위치를 찾기 위해 위치 정보를 사용합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>프로필 사진 및 게시글 작성을 위해서 카메라 접근요청을 드립니다. 자세한 내용은 개인 정보 보호 정책을 참조하세요.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>프로필 사진 및 게시글 작성을 위해서 앨범 접근요청을 드립니다. 자세한 내용은 개인 정보 보호 정책을 참조하세요.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Open_app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.DearMyFriend.DearMyFriend</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NMFClientId</key>
	<string>gzytrcks96</string>
	<key>UIAppFonts</key>
	<array>
		<string>SpoqaHanSansNeo-Bold.ttf</string>
		<string>SpoqaHanSansNeo-Light.ttf</string>
		<string>SpoqaHanSansNeo-Medium.ttf</string>
		<string>SpoqaHanSansNeo-Regular.ttf</string>
		<string>SpoqaHanSansNeo-Thin.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
